@import "tailwindcss";

@theme inline {
  --font-mona: var(--font-mona), system-ui, sans-serif;
  --font-pixel: var(--font-pixel), system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

@layer base {
}
